# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Dataset

In [3]:
dataset = pd.read_csv('DC Fan-58 Data.csv')
dataset

,Fabricated Timestamp,Temperature,Humidity,ms,Speed_and_mode,Motion Detected (0/1),Mode( Auto=1),Speed
0,11332961,26,61,0,0,0,0,0
1,11332931,26,60,0,0,0,0,0
2,11332901,26,61,4,4,0,0,4
3,11332871,26,61,3,3,0,0,3
4,11332841,26,61,2,2,0,0,2
...,...,...,...,...,...,...,...,...
114891,10801816,30,57,12,12,0,1,4
114892,10801816,30,57,12,12,0,1,4
114893,10801816,30,57,12,12,0,1,4
114894,10801816,30,57,12,12,0,1,4
114895,10801816,30,57,12,12,0,1,4

# Data pre-processing

In [4]:
dataset=dataset.dropna()

In [15]:
X=dataset[['Temperature','Humidity']]
y=dataset.Speed

In [16]:
X

        Temperature  Humidity
0                26        61
1                26        60
2                26        61
3                26        61
4                26        61
...             ...       ...
114891           30        57
114892           30        57
114893           30        57
114894           30        57
114895           30        57

[114896 rows x 2 columns]

In [17]:
y

0         0
1         0
2         4
3         3
4         2
         ..
114891    4
114892    4
114893    4
114894    4
114895    4
Name: Speed, Length: 114896, dtype: int64

# Splitting

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test,  y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Fitting

# Apply linear regression

In [19]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Apply polynomial regression

In [20]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(X)
poly_reg.fit(X_poly, y)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# plotting cant possible bcz of 2 inputs

# Prediction

In [21]:
#By linear regression
print(lin_reg.predict([[26,59]]))

[2.33645006]

In [22]:
#By polynomial regression
print(lin_reg_2.predict(poly_reg.fit_transform([[26,59]])))

[1.9215973]